.table{
    border: 2px solid #2196f3;
    padding: 5px;
    margin: 10px;
}
.table .row{
    width: 100%;
}
.table .row .cell{
    display: table-cell;
    border: 2px solid #2196f3;
    text-align: center;
    padding:30px 10px;
    min-height: 50px;
    min-width: 20px;
}
.colorful{
    color: #2196f3;
}
.cell.free{
    background: #ddd;
}
.page{
    background: #efeff4;
}
.pin{
    display: none;
    float: right;
}